@value makerPink, makerLightGrey, makerGreen, makerBlack from '../../common/color.module.css';

.form {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid makerBlack;
    border-left: 1px solid makerBlack;
    margin: 0.5rem 1rem;

}
.input,
.select,
.button,
.btn_upload,
.textarea {
    flex: 1 1 30%;
    border: 0;
    border-right: 1px solid makerBlack;
    border-bottom: 1px solid makerBlack;
    height: 2rem;
}

.input,
.select,
.textarea {
    padding-left: .5rem;
}

.button {
    flex: 1 0;
}



.textarea {
    min-width: 100%;
}
