@value makerPink, makerLightGrey, makerGreen, makerBlack from '../../common/color.module.css';
@value buttonHeight from '../../common/size.module.css';

.form {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid makerBlack;
    border-left: 1px solid makerBlack;
    margin: 0.5rem 1rem;
}

.input,
.select,
.delete,
.file,
.textarea {
    font-size: 0.8rem;
    width: 100%;
    border: 0;
    padding: 0.5rem;
    border-right: 1px solid makerBlack;
    border-bottom: 1px solid makerBlack;
    background-color: makerWhite;
}

.input,
.select {
    flex: 1 1 30%;
}

.file {
    padding: 0;
    flex: 1 1 50%;
}

.input:focus,
.select:focus,
.delete:focus,
.textarea:focus {
    outline: 0;
}

.textarea {
    flex-basis: 100%;
}

.file,
.delete {
    flex: 1 0;
    padding: 0;
    height: buttonHeight;
}

