@value makerGreen, makerLightGrey from '../../common/color.module.css';

.editor {
    flex-basis: 50%;
    border-right: 1px solid makerLightGrey;
    overflow-y: auto;
}

.title {
    color: makerGreen;
    text-align: center;
}