@value makerGreen, makerWhite, makerBlack from '../../common/color.module.css';

.header {
    position: relative;
    background-color: makerGreen;
    text-align: center;
    display: inline-block;
}

.header_logo {
    width: 2.5rem;
}
.btn_logout {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: makerWhite;
    background-color: makerBlack;
    border: none;
    border-radius: 10%;
}
.btn_logout:hover {
    background-color: makerWhite;
    color: makerBlack;
}

h1 {
    margin: 0;
}
