@value makerGreen, makerWhite, makerBlack from '../../common/color.module.css';

.header {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: makerGreen;
    position: relative;
}

.header_logo {
    width: 3rem;
}

.title {
    margin: 0;
    color: makerWhite;
}

.header_logo {
    width: 2.5rem;
}
.btn_logout {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: makerWhite;
    background-color: makerBlack;
    border: none;
    border-radius: 10%;
    padding: .2rem;
}

.btn_logout:hover {
    background-color: makerWhite;
    color: makerBlack;
}


