@value makerBlack, makerGreen, makerWhite, makerLightPink from '../../common/color.module.css';
.login {
    width: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite;
}

.list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem;
}

.item {
    margin-bottom: 0.5rem;
}

.button {    
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid makerGreen;
    outline: 0;
}

.button:hover {
    background-color: makerLightPink;
}

