@value makerGrey from './common/color.module.css';

.wrapper {
	width: 100%;
	margin: 0 auto;
}
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: makerGrey;
}
